<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Totally Secure Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <ul id="messages"></ul>
    <div class="form">
        <form class="dropzone">
            <div class="fileUploadWrapper">
                <button class="upload">+</button>
                <input type="file" name="file" id="file" accept="image/png, image/jpeg, image/jpg"/>
            </div>
            <input id="inputMessage" placeholder="Enter message here..." autocomplete="off" />
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> --}}
    {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> --}}
    <script src="crypto-js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>