* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 20px Helvetica, Arial;
    color: white;
    background: #3a3a3a;
}

.form {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.form input {
    width: 100%;
    background: #505050;
    border: 0;
    border-radius: 3px;
    padding: 20px 15px;
    color: white;
}

.form input:focus {
    outline: none;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}